@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 46, 46, 46;
  --background-start-rgb: 46, 46, 46;
  --background-end-rgb: 46, 46, 46;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 46, 46, 46;
    --background-start: 46, 46, 46;
    --background-end: 46, 46, 46;
  }
}

@font-face {
  font-family: 'montreal-bold';
  src: url('../../public/fonts/PPNeueMontreal-Bold.otf');
}
@font-face {
  font-family: 'montreal-medium';
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
  font-family: 'montreal-semiitalic';
  src: url('../../public/fonts/PPNeueMontreal-SemiBolditalic.otf')
}

@font-face {
  font-family: 'machina-inkultra';
  src: url('../../public/fonts/PPNeueMachina-InktrapUltrabold.otf')
}