@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 24, 39;
    --background-start: 17, 24, 39;
    --background-end: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end))
    ) no-repeat
    rgb(var(--background-start));
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'monument-black';
  src: url('../../public/fonts/PPMonumentExtended-Black.otf');
}
@font-face {
  font-family: 'montreal-bold';
  src: url('../../public/fonts/PPNeueMontreal-Bold.otf');
}
@font-face {
  font-family: 'montreal-medium';
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
  font-family: 'ade-display';
  src: url('../../public/fonts/Ade-Display.otf');
}

@font-face {
  font-family: 'dark-paradise';
  src: url('../../public/fonts/DarkParadise-Bold.otf');
}

@font-face {
  font-family: 'futura-italic';
  src: url('../../public/fonts/Futura\ Std\ Heavy\ Oblique.otf');
}