@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  background-color: #F4F4F4;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background-color: #0D0D0D;
  }
}

@font-face {
  font-family: 'montreal-bold';
  src: url('../../public/fonts/PPNeueMontreal-Bold.otf');
}
@font-face {
  font-family: 'montreal-medium';
  src: url('../../public/fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
  font-family: 'montreal-semiitalic';
  src: url('../../public/fonts/PPNeueMontreal-SemiBolditalic.otf')
}

@font-face {
  font-family: 'machina-inkultra';
  src: url('../../public/fonts/PPNeueMachina-InktrapUltrabold.otf')
}